body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.Container1{
    background-color: #171717;
    height: 1000px;
    color: white;
}
.ICentry{
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    .Entrytext{
        font-size: 52px;
        font-weight: 600;
    }
    .Entrytext:hover{
        font-size: 60pt;
        background-repeat: repeat-x;
        background-size: 8ch 100%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-image: linear-gradient(to right, #57365a 0ch, Yellow 1ch, Indigo 1ch,
         Indigo 2ch, Blue 2ch, #2f732e 3ch, Orange 3ch, Orange 4ch, Violet 4ch, Violet 5ch, Green 5ch, Green 6ch, #5b2979 6ch, Red 7ch);
        transition: 1.3s;
      }
}
.Authbutton{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.Loggedin{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}
